$searchInputHeight: 40px;

.home{
    height: 100%;
    @include search-container();
    position: relative;

    .search-container{
        margin: 0 auto;
    }
    
    // accroche
    .accroche{
        min-height: 650px;
        padding: $xxlPadding $defaultPadding;
        color: $white-color;
        background-color: $light-blue;
        // background: $light-blue url("../../images/accroche.jpg") no-repeat center;
        background-size: cover;
        padding-top: 250px;
        position: relative;

        .accroche-container{
            @include flex(column);
            row-gap: 2.5rem;

            h1{
                text-align: center;
                font-size: 3.5rem;
                color: $jeans-color;
                text-shadow: 1px 1px 1px $light-blue;
                width: fit-content;
                margin: 0 auto;
                font-weight: bold;
                font-weight: 900;
                background-color: rgba($light-blue, .3);
                padding: 0 $defaultPadding;
                border-radius: $items-radius;
            }
        }
    }

    // liste
    .home-liste{
        padding: $xxlPadding $defaultPadding;

        h2{
            font-size: 2.5rem;
            background-color: $header-bg-color;
            padding: $defaultPadding $largePadding;
            border-radius: $items-radius;
            width: fit-content;
            margin: 0 auto $largePadding auto;
            text-align: center;
            color: $jeans-color;
        }

        .liste-container{
            @include flex();
            justify-content: center;
            column-gap: 1rem;

            .liste-item{
                width: calc(100%/3);
                max-width: 400px;
                text-align: center;
                border-radius: $items-radius;
                @include flex(column);
                align-items: center;
                row-gap: .6rem;
                padding: calc($defaultPadding * 2) ;
                box-shadow: 0px 0px 5px 1px rgba($jeans-color, .1);
                cursor: pointer;
                font-size: 1.3rem;

                svg{
                    font-size: 5rem;
                }

                h3{
                    font-size: 2rem;
                    font-weight: bold;
                }

                p{
                    line-height: 1.6rem;
                    flex-grow: 1;
                }

                span{
                    @include formSubmitBtn();
                }

                &:hover span{
                   color: $white-color;
                   background-color: $light-blue;
                }
            }
        }
    }

    // Bulles
    .home-bulles{
        padding: 0 30px;
        padding-bottom: $xxlPadding;
        .bulles{
            .bulle{
                &:first-child{
                    margin-bottom: 1.5rem;
                }

                p{
                    font-size: 1.4rem;
                    &:first-child{
                        margin-bottom: 1rem;
                    }
                }

                svg{
                    font-size: 50px;
                    align-self: flex-start;
                    float: left;
                    margin-right: 1rem;
                }
            }
        }
    }
}

@media (max-width: $desktopMinWidth){
    .home{
        .home-liste{
            padding-top: $xlPadding;
        }
    }
}

@media (max-width: $tabletteMaxWidth){
    .home{
        // accroche
        .accroche{
            .accroche-container{
                h1{
                    font-size: 2.5rem;
                }
            }
        }

        .home-liste{
            padding-top: $largePadding;
            .liste-container{
                flex-wrap: wrap;
                row-gap: 2rem;
    
                .liste-item{
                    padding-left: $defaultPadding;
                    padding-right: $defaultPadding;
                    width: calc(50% - 3rem);
                    max-width: 100%;
                }
            }
        }
    }
}

@media (max-width: $smallTabletteMaxWidth){
    .home{
        .home-liste{
            h2{
                font-size: 1.8rem;
            }

            .liste-container{
                .liste-item{
                    width: 100%;

                    p{
                        padding: 0 3rem;
                    }
                }
            }
        }

        // Bulles
        .home-bulles{
            .bulles{
                .bulle{
                    p{
                        font-size: 1.2rem;
                    }

                    svg{
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media (max-width: $mobileWidth){
    .home{
         // accroche
        .accroche{
            padding-top: 150px;
            .accroche-container{
                h1{
                    font-size: 2rem;
                }
                    
            }
        }

        .home-liste{
            padding-bottom: $xlPadding;
            padding-top: $defaultPadding;
            .liste-container{
                .liste-item{

                    p{
                        padding: 0 1rem;
                    }
                }
            }
        }

        .home-bulles{
            padding-bottom: $xlPadding;
            padding-top: 0;
        }

    }
  
}